{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/foundation.min.css" %}"
</head>
<body>


<div class="top-bar">
{% block top %}
    <section class="top-bar-section">
        <ul class="right">
            {% if username %}
                <li><a href="/auth/logout/">Вийти ({{ username }})</a></li>
            {% else %}
                <li><a href="/auth/login/">Зайти</a></li>
            {% endif %}
        </ul>
    </section>
{% endblock %}
</div>



<a href="/"><h1>Мій твіттер</h1></a>

<div class="row">
{% block content %}{% endblock %}
</div>

{% block footer %}
    <hr>

<p>Дякую, що відвідали мій сайт.</p>
{% endblock %}


</body>
</html>
